.taskcard {
  background-color: #f3f3f3;
  padding: 0.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
	border-radius: 6px;

  .title {
    font-size: 0.75rem;
  }
  .action-btn {
    display: flex;
    * {
      padding: 0.25rem;
      cursor: pointer;
    }
  }
}
